html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

#content {
  overflow: auto;
  background-image: radial-gradient(95.09% 118.5% at 43.64% 75.17%, rgba(162, 188, 255, 0.216) 45.19%, rgba(118, 139, 252, 0.5) 86.75%);
  padding-top: 90px;
}

.w3-sidebar {
  z-index: 3;
  width: 200px;
  top: 43px;
  height: inherit;
}

.navbar-menu .w3-bar-item {
  padding: .5em;
}

#footer2 {
  background-color: #6ACFC7;
  text-align: center;
}

.staff-img {
  width: 100px;
}

.staff-name {
  margin-left: 2rem;
}

.course {
  background-color: whitesmoke;
}

.footer-contact, .footer-social {
  margin-bottom: 20px;
}

.footer-contact i, .footer-social i {
  margin-right: 8px;
}

.footer-social .social-icon {
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer-social .social-icon:hover {
  color: #d1d5db;
}

.footer-column p, .footer-column a {
  margin-top: 0px;
  margin-bottom: 0px;
}







