html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bold;
}

#content {
  overflow: auto;
  background-image: radial-gradient(95.09% 118.5% at 43.64% 75.17%, rgba(162, 188, 255, 0.216) 45.19%, rgba(118, 139, 252, 0.5) 86.75%);
  padding-top: 90px;
}

.w3-sidebar {
  z-index: 3;
  width: 200px;
  top: 43px;
  height: inherit;
}

.navbar-menu .w3-bar-item {
  padding: .5em;
}

.navbar-menu a:hover {
  border-bottom: 2px solid black; 
}

#footer2 {
  background-color: #6ACFC7;  
}

.staff-img {
  width: 100px;
}

.course {
  background-color: whitesmoke;
}

.footer-column p, .footer-column a {
  margin-top: 0px;
  margin-bottom: 0px;
}







